<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="https://rustacean.net/assets/rustacean-orig-noshadow.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Rust Korea: 국내 러스트 사용자 커뮤니티</title>

  <meta name="description" content="국내 러스트 사용자를 위한 커뮤니티! 뉴스, 교육, 이벤트, 프로젝트 추천 등 다양한 정보 공유" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://rust-lang.kr" />
  <meta property="og:title" content="Rust Korea - 국내 러스트 사용자 커뮤니티" />
  <meta property="og:description" content="국내 러스트 사용자를 위한 커뮤니티! 뉴스, 교육, 이벤트, 프로젝트 추천 등 다양한 정보 공유" />
  <meta property="og:image" content="https://rust-lang.kr/static/og-img.jpg" />

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-T9BQDM7D8L"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-T9BQDM7D8L');
  </script>

  <meta name="naver-site-verification" content="0146c282dbaa6b13a664abeaf12eb23db0ef4f7d" />
  <script type="module" crossorigin src="/static/assets/index-BpH6ACPT.js"></script>
  <link rel="stylesheet" crossorigin href="/static/assets/index-ChTGSQoI.css">
</head>

<body>
  <div id="root"></div>
</body>

</html>